.post-create-page {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  background: linear-gradient(#dff6ff 25%, #e0ffe0 75%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 150px;
}

.create-header {
  text-align: center;
  margin-bottom: 10px;
}

.create-date-area {
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #dddddd;
  border-radius: 10px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.content-input {
  background-color: #FEFCE7;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-height: 250px;
  border: none;
}

/* footer 추가 */
.footer {
  display: flex;
  justify-content: space-between; /* 토글 왼쪽, 버튼 오른쪽 */
  align-items: center;
  width: 100%; /* 80% → 100%로 변경 */
  padding: 0 30px; /* 좌우 패딩 추가하여 여백 확보 */
  margin-top: 20px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-text {
  color: grey;
  font-size: 12px;
}

.post-create-save-btn {
  background-color: #00A000; /* 나뭇잎 색상 */
  color: white;
  font-size: 14px;
  width: 80px;
  height: 35px;
  border-radius: 30px;
  text-align: center;
  border: none; 
  cursor: pointer;
  padding: 0 !important;
}

img.leaf-icon {
  display: flex;
  align-items: center;
  width: 100px !important;
  height: auto !important;
  position: absolute;
  top: 80px;
}


