* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f5f5f5; /* 회색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  #root {
    width: 430px;
    height: 932px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-y: hidden;
  };
  